<div class="container knowledge-page knowledge-create" ng-controller="AddOrEditWikiKnowledgeCtrl">
    <div ng-java-controller="controllers.AddOrEditWikiKnowledgeController">
        <button class="btn btn-sm btn-primary" style="margin-top:20px;float: left">
            افزودن ضمیمه
        </button>

        <div class="form-group">
            <label>عنوان دانش</label>
            <input ng-model="data.title" type="text" class="title form-control" placeholder="عنوان دانش">
        </div>


        <div style="margin-top: 30px; margin-bottom:30px">
            <label> محتوای دانش</label>
            <text-angular ng-model="data.content">

            </text-angular>
        </div>

        <tags-input ng-model="tags" placeholder="'برچسب های دانش'">
        </tags-input>
        <div class="btn-group" style="float:left; margin-top: 30px">
            <button ng-click="submit()" type="submit" class="btn btn-success" style="width: 150px;">
                ثبت
            </button>
            <a ng-href="/knowledge/list" type="submit" class="btn btn-danger" style="width: 150px;">
                انصراف
            </a>
        </div>
    </div>
</div>