<div class="container">

    <div class="view-employee">
        <div class="emp-header">
            <div class="add-point">
                <div><i class="fa fa-2x fa-arrow-circle-up up-point"></i></div>
                <div><span class="point">12</span></div>
                <div><i class="fa fa-2x fa-arrow-circle-down down-point"></i></div>
            </div>
            <div class="header-details">
                <h1 class="emp-name">
دانش شماره یک
                </h1>
                <div class="header-other">
                    عارف شفاعی بجس
                    <span class="date">
                        <i class="fa fa-circle dot-divider"></i>
                        <span>
                        ۱۲ شهریور ۱۳۹۴
                        </span>
                    </span>
                </div>
            </div>
            <div class="admin-buttons">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" >تغییر دانش</button>
                    <!--<button type="button" class="btn btn-success" >تایید دانش</button>-->
                    <button type="button" class="btn btn-success" >ایجاد نسخه جدید</button>
                    <button type="button" class="btn btn-danger" >منسوخ کردن دانش</button>
                </div>
            </div>
        </div>
        <div class="horizontal-divider"></div>
        <div class="emp-details">
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            <button class="btn btn-sm btn-warning add-report">
                گزارش تخلف
            </button>
        </div>
        <div>
            <h4>ضمایم</h4>
            <div class="attachments">
                <a href="#">ضمیمه شماره  یک</a>
                <a href="#">ضمیمه شماره  دو</a>
            </div>
        </div>
        <div>
            <h4>برچسب‌ها</h4>
            <div class="tags">
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
            </div>
        </div>
        <div class="add-use">
            <h4>موارد استفاده</h4>
            <div class="use-cases">
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>

            </div>
            <form method="post" class="form-inline form" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" value="مورد استفاده">
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary">اضافه کردن</button>
                </div>
            </form>
        </div>
    </div>

</div>