<div class="container knowledge-page knowledge-view" ng-controller="WikiKnowledgeCtrl">
    <div ng-java-controller="controllers.WikiKnowledgeController">
        <div class="view-employee">
            <div class="emp-header">
                <div class="add-point">
                    <div><i ng-click="voteUp()" class="fa fa-2x fa-arrow-circle-up up-point"></i></div>
                    <div><span class="point">{{ knowledge.voteSum }}</span></div>
                    <div><i ng-click="voteDown()" class="fa fa-2x fa-arrow-circle-down down-point"></i></div>
                </div>
                <div class="header-details">
                    <h1 class="emp-name">
                        {{ knowledge.title }}
                    </h1>

                    <div class="header-other">
                        {{ knowledge.employeeName }}
                    <span class="date">
                        <i class="fa fa-circle dot-divider"></i>
                        <span>
                        ۱۲ شهریور ۱۳۹۴
                        </span>
                    </span>
                    </div>
                    <a href="#">مشاهده گزارش فعالیت</a>
                </div>
                <div class="admin-buttons" style="margin-top: -20px">
                    <div class="btn-group">
                        <button ng-if="showApprove" ng-click="approve()" class="btn btn-sm btn-success" >تایید دانش</button>
                        <button ng-if="showApprove" ng-click="disapprove()" class="btn btn-sm btn-danger" >
                            رد دانش
                        </button>
                        <a ng-if="hasChangePermission" ng-href="#/knowledge/edit/{{knowledgeId}}" class="btn btn-sm btn-primary">تغییر دانش</a>
                        <button ng-if="!showApprove" type="button" class="btn btn-sm btn-success">ایجاد نسخه جدید</button>
                        <button ng-if="!showApprove && hasChangePermission" type="button" class="btn btn-sm btn-danger">منسوخ کردن دانش</button>
                    </div>
                </div>
            </div>
            <!--<div class="horizontal-divider"></div>-->
            <div class="content" style="margin-top: 30px; " ng-bind-html="knowledge.content">
            </div>
            <a class="add-report" style="margin-top: 10px;margin-left:5px;cursor: pointer;" ng-click="openReportDialog()">
                گزارش تخلف
            </a>

            <div style="margin-top: 30px">
                <h4>ضمایم</h4>

                <div class="attachments">
                    <a href="#">
                        {{ knowledge.attachment }}
                    </a>
                </div>
            </div>
            <div>
                <h4>برچسب‌ها</h4>

                <div class="">
                <span ng-repeat="tag in knowledge.tags track by $index"
                        style="background-color: crimson;border-radius: 3px; color: white; padding: 5px 10px;margin-left: 10px">
                    {{ tag }}
                </span>
                </div>
            </div>
            <div class="add-use" style="margin-top:25px">
                <h4>موارد استفاده</h4>

                <div class="use-cases">
                    <span class="" ng-repeat="usecase in knowledge.usecases track by $index"
                            style="background-color: #a1dbff; padding: 5px; border-radius: 2px; margin-left: 10px">
                        {{ usecase }}
                    </span>
                </div>

                <form method="post" ng-submit="submitUseCase()" class="form-inline form" role="form" style="float: right">
                    <div class="form-group">
                        <input type="text" ng-model="usecase" class="form-control" placeholder="مورد استفاده">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary btn-sm">اضافه کردن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="reportDialog.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><span
                aria-hidden="true">&times;</span><span class="sr-only">بستن</span></button>
        <h4 class="modal-title">
            گزارش تخلف
        </h4>
    </div>
    <div class="modal-body">
        <h6>
            علت تخلف را ذکر کنید
        </h6>
        <textarea rows="5" style="width: 100%">

        </textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-yes btn-sm" ng-click="accept()">
            ارسال گزارش
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="reject()">
            انصراف
        </button>
    </div>
</script>