.settings-page {
  .settings-sidebar {
    float: right;
    width: 240px;
    padding: 50px 20px 10px 20px;
    text-align: center;

    li {
      font-size: 14px;
      color: #0096C0;
      a {
        cursor: pointer;
      }
      cursor: pointer;
    }
  }


  .settings-content {
    margin-right: 240px;
    border-right: 1px solid #dddddd;
    padding: 20px 20px;
    height: 550px;
  }
  .settings-content .row-fluid {overflow: auto;}
  .settings-content .large {height: 400px; padding: 10px;}

  .settings-item-container {
    padding-top: 30px;
    padding-right: 30px;
    
    .settings-item {
      margin-bottom: 5px;
      padding: 0px 30px 0px 0px;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid black;
      width: 200px;
      color: white;
      background-color: crimson;
      
      input {
        padding: 5px 0px;
        background-color: inherit;
        border: none;
      }
    }
  }

  .btn-add {
    float: left;
    border-radius: 50%;
    margin-left: 50px;
    i {
      margin-top: 2px;
    }
  }

  .settings-section {

  }
  
  .red {
    background-color: red;
  }
  .blue {
    background-color: blue;
  }
}