//@import "compass/css3";
//@import "compass/css3/images";

$app-font: yekan, sans-serif;
$font-color: #333;
$link-color: #108edc;
$link-color-hover: #0a436f;
$other-font: Mj_liner, sans-serif;
$default-font-size: 12px;

body {
  font-family: $app-font;
  color: #333;
  font-size: $default-font-size;
  margin: 0;
  background: url("../images/bg.jpg") repeat;
}
h1,h2,h3,h4{
  font-family: $other-font;
}
::selection{
  color: white;
  background-color: crimson;
}
a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color-hover;
  text-decoration: none;
}

.gkms-header {
  background-color: crimson;
  color: white;
  padding: 1em 15% 0 15%;
  h1 {
    font-family: $other-font;
    text-align: center;
  }
  .version {
    float: left;
  }
}

.container {
  margin: 0 auto;
  width: 95%;
  padding: 2em;

}

.clearfix {
  clear: both;
}

.btn-back {
  display: none;
}
//
//.form-group {
//  max-width: 200px;
//}

/************************************ navbar *******************************/
/* navbar */
.navbar-default {
  background-color: crimson;
  border-color: #ac1431;
  border: 0;border-radius: 0;
}
/* title */
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}
/* link */
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #f81642;
  color: #f3edff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: crimson;
}
.navbar-default .navbar-nav > .active > a:hover{
  background-color: #f81642;
  color: black;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: crimson;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ac1431;
  border-bottom-color: #ac1431;
}

/************************************ login *******************************/
.login-form {
  max-width: 300px;
  margin: 40px auto;
  .form-group {
    margin: 1em auto;
    .input-icon {
      position: relative;
      i {
        position: absolute;
        left: 8px;
        top: 28%;
        color: #8C8B8B;
      }
    }
  }
  button {
    margin-top: 25px;
    width: 100%;
  }
//  button{float: left;}
}


/************************************ create emp *******************************/
.create-emp-form{
  position: relative;
  max-width: 38.8em;
  margin: 0 auto;
  .form-group{
    margin-bottom: 2em;
    margin-left: 1.5em;
    input{width:200px;}
  }
}


/************************************* list emp *******************************/
.search-form{
  margin-bottom: 2em;
  .form-group{margin-right: 2em;}
  .found-count{opacity: 0.8}
}
/************************************* view emp ********************************/
.view-employee{
  .emp-header{
    position: relative;
    .emp-name{
      font-family: $other-font;  margin: 0.2em 0 0.6em;
    }
    .user-image{float:right;}
    .header-details{display: inline-block;margin-right: 1em;}
    .header-other{
      font-size: 1.5em;
      .avail{font-size: 0.75em;opacity:0.8;}
      .date{
        font-size: 13px;
        font-family: $app-font;
        color: #848484;
      }
    }
//    button{margin-top: 2em;}
    .emp-points{
      margin-right: 2em;
      font-size: 15px;
      display:inline-block;font-family: $other-font;
      i{color:crimson;margin-left: 0.2em;}
      .num{
        font-family: $app-font;
        color: white;
      }
      div{margin-top: 1.2em;}
    }
    .vertical-divider{
      height: 210px;
    }
    .admin-buttons{
      float: left;
//      margin-right: 2em;
      display: inline-block;
    }
  }
  .dot-divider{font-size: 4px;margin: 0 0.5em 0 0.5em;}
  .add-point{
    float: right;
    margin: 1em auto;
    text-align: center;
    .point{font-size: 2em;}
    .up-point{&:hover{color: darkgreen};cursor: pointer;}
    .down-point{&:hover{color:darkred;}cursor: pointer;}
  }
  .emp-details{
    text-indent: 1em;
    line-height: 200%;
    text-align: right;
//    margin-top:4em;
    table td{
      text-align:center;
    }
    table {
      margin-bottom: 0px;
    }
  }
  .add-report{float:left;}
  .answers{
    textarea{width: auto!important;}
    .answer{
      .add-report{
        float: none;}
      .author{
        color: #108edc;
        margin-right: 1em;
        display: inline-block;
        h4{display: inline-block;}
        .date{
          font-size: 13px;
          font-family: $app-font;
          color: #848484;
        }
      }
      .answer-text{
        margin-right: 5em;
      }
    }
  }

}

/************************************* divider ********************************/
.vertical-divider {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 50%;
  margin: 0 0 0 -3%;
  width: 6%;
  height: 100%;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .8);
  -webkit-tap-highlight-color: transparent;
  &:before {
    position: absolute;
    left: 50%;
    content: " ";
    z-index: 3;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(255, 255, 255, .8);
    width: 0;
    height: 80%;
  }
}
.horizontal-divider {
  width: 95%;
  margin: 3rem auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  line-height: 1;
  height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/************************************* divider ********************************/


.rf-tag{
  padding: 4px;
  color:black;
  background-color: #980726;
  margin: 0.2em;
  opacity: 0.7;
  border-radius: 0.2em;
  &:hover{
    background-color: crimson;
  }

}
.rf-table{
  td{text-align: center;}
}

/****************************************** view knowledge **************************/
.view-employee{
  .use-cases,.tags{
    margin: 1em;
  }
  .attachments{
    a{margin-left: 1em;}
  }
}

table td{text-align: center;}

/***************************************** admin index *****************************/
.admin-card{
    height: 175px;
    margin-bottom: 1em;
    .thumbnail {
      height: 175px;
      padding: 10px;
      padding-top: 0;
      position: relative;
      color: white;
      i{opacity: 0.5;}
      &.thumbnail-knowledge {
        background-color: #00a65a;
        &:hover {
          background-color: darken(#00a65a, 10%);
        }
      }
      &.thumbnail-report {
        background-color: #f56954;
        &:hover {
          background-color: darken(#f56954, 10%);
        }
      }
      &.thumbnail-report .filters select{
        color: white;
        background-color: #f56954;
        border-color: darken(#f56954, 0);;
      }
      &.thumbnail-knowledge .filters select{
        color: white;
        background-color: #00a65a;
        border-color: darken(#00a65a, 0);
      }
      h3 {
        font-size: 45px;
        font-weight: 800;
      }
      .header {
        font-family: $other-font;
        font-size: 25px;
      }
      i {
        position: absolute;
        left: 45px;
        top: 23px;
        font-size: 7em;
      }
      .filters {
        .control-label {
          display: none;
        }
        #id_date_filter {
          width: 46%;
          float: left;
        }
        #id_state, #id_online_status {
          width: 46%;
          float: right;

        }

      }
    }
}

