/************************************ ng-tags ******************/
tags-input .tags .tag-item {
  float: right;
}
tags-input .tags .input {
  float: right;
}

/************************************ textAngular ******************/
.ta-hidden-input {
  display: none;
}

/************************************ Angular Bootstrap *************/
.modal-backdrop {
  bottom: 0;
  position: fixed;
}