@font-face {
    font-family: Yekan;
    src: url('../fonts/BYekan.eot');
    src: local('?'), url('../fonts/BYekan.woff') format('woff'), url('../fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Mj_liner;
    src: url('../fonts/Mj_Liner Screen Bd.eot');
    src: local('?'), url('../fonts/Mj_Liner Screen Bd.woff') format('woff'), url('../fonts/Mj_Liner Screen Bd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import "main";
