<div class="container question-page question-create" >
    <div class="form-group">
        <label>
            عنوان سوال
        </label>
        <input type="text" class="title form-control" placeholder="عنوان دانش">
    </div>



    <div style="margin-top: 30px; margin-bottom:30px">
        <label>
            متن سوال
        </label>
        <text-angular ng-model="knowledge.content">

        </text-angular>
    </div>

    <tags-input ng-model="tags" placeholder="'برچسب‌های سوال'">
    </tags-input>
    <button class="btn btn-success" style="margin-top: 20px; float: left">
        ثبت سوال
    </button>
</div>