<div class="container question-page question-create" ng-controller="AddOrEditQuestionKnowledgeCtrl">
    <div ng-java-controller="controllers.AddOrEditQuestionKnowledgeController">
        <div class="form-group">
            <label>
                عنوان سوال
            </label>
            <input  ng-model="data.title" type="text" class="title form-control" placeholder="عنوان دانش">
        </div>


        <div style="margin-top: 30px; margin-bottom:30px">
            <label>
                متن سوال
            </label>
            <text-angular ng-model="data.content">

            </text-angular>
        </div>

        <tags-input ng-model="tags" placeholder="'برچسب‌های سوال'">
        </tags-input>
        <div class="btn-group" style="float:left; margin-top: 30px">
            <button ng-click="submit()" type="submit" class="btn btn-success" style="width: 150px;">
                ثبت
            </button>
            <a ng-href="/question/list" type="submit" class="btn btn-danger" style="width: 150px;">
                انصراف
            </a>
        </div>
    </div>
</div>