<div class="container question-view" ng-controller="QuestionKnowledgeCtrl">
    <div ng-java-controller="controllers.QuestionKnowledgeController">
        <div class="view-employee">
            <div class="emp-header">
                <div class="add-point">
                    <div><i ng-click="voteUp(knowledge)" class="fa fa-2x fa-arrow-circle-up up-point"></i></div>
                    <div><span class="point">{{ knowledge.voteSum }}</span></div>
                    <div><i ng-click="voteDown(knowledge)" class="fa fa-2x fa-arrow-circle-down down-point"></i></div>
                </div>
                <div class="header-details">
                    <h1 class="emp-name">
                        {{ knowledge.title }}
                    </h1>

                    <div class="header-other">
                        {{ knowledge.employeeName }}
                    <span class="date">
                        <i class="fa fa-circle dot-divider"></i>
                        <span>
                        ۱۲ شهریور ۱۳۹۴
                        </span>
                    </span>
                    </div>
                </div>
            </div>
            <!--<div class="horizontal-divider"></div>-->
            <div class="content" style="margin-top:20px;padding:20px;" ng-bind-html="knowledge.content">
            </div>

            <a style="margin-top: 10px; margin-left: 5px; float: left; cursor: pointer;"
                    ng-click="openReportDialog(knowledge)">
                گزارش تخلف
            </a>

            <div style="margin-top:30px">
                <h4>برچسب‌ها</h4>

                <div class="tags">
                <span style="background-color: crimson;border-radius: 3px; color: white; padding: 5px 10px;margin-left: 10px"
                        ng-repeat="tag in knowledge.tags track by $index">
                    {{ tag }}
                </span>
                </div>
            </div>
            <div>
                <h2>پاسخ ها</h2>

                <div class="answers">
                    <div class="answer" ng-repeat="answer in answers track by answer.id" style="margin-bottom: 60px;">
                        <div class="add-point">
                            <div><i ng-click="voteUp(answer)" class="fa fa-2x fa-arrow-circle-up up-point"></i></div>
                            <div><span class="point">{{ answer.voteSum }}</span></div>
                            <div><i ng-click="voteDown(answer)" class="fa fa-2x fa-arrow-circle-down down-point"></i></div>
                        </div>
                        <div class="author">
                            <h4>{{ answer.employeeName }}</h4>
                            <i class="fa fa-circle dot-divider"></i>
                        <span class="date">
                        ۱۲ شهریور ۱۳۹۴ ۱۲:۳۰
                        </span>

                        </div>
                        <a style="font-size: 8px‍;margin-right: 8px;cursor:pointer;"
                                ng-click="openReportDialog(answer)">
                            گزارش تخلف
                        </a>

                        <div class="answer-text" ng-bind-html="answer.content">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="add-answer" style="margin-top: -20px">
                        <form class="form" ng-submit="submitAnswer()">
                            <div class="form-group">
                                <text-angular ng-model="answer.content">

                                </text-angular>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" style="width: 100px" type="submit">
                                    ثبت پاسخ
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="reportDialog.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><span
                aria-hidden="true">&times;</span><span class="sr-only">بستن</span></button>
        <h4 class="modal-title">
            گزارش تخلف
        </h4>
    </div>
    <div class="modal-body">
        <h6>
            علت تخلف را ذکر کنید
        </h6>
        <textarea ng-model="reportContent" rows="5" style="width: 100%">

        </textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-yes btn-sm" ng-click="submitAbuseReport()">
            ارسال گزارش
        </button>
        <button type="button" class="btn btn-danger btn-sm" ng-click="$dismiss()">
            انصراف
        </button>
    </div>
</script>