@font-face {
  font-family: Yekan;
  src: url("../fonts/BYekan.eot");
  src: local("?"), url("../fonts/BYekan.woff") format("woff"), url("../fonts/BYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Mj_liner;
  src: url("../fonts/Mj_Liner Screen Bd.eot");
  src: local("?"), url("../fonts/Mj_Liner Screen Bd.woff") format("woff"), url("../fonts/Mj_Liner Screen Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../../src/sass/main.scss */
body {
  font-family: yekan, sans-serif;
  color: #333;
  font-size: 13px;
  margin: 0;
  background: url("../images/bg.jpg") repeat;
}

/* line 18, ../../src/sass/main.scss */
h1, h2, h3, h4 {
  font-family: Mj_liner, sans-serif;
}

/* line 21, ../../src/sass/main.scss */
::selection {
  color: white;
  background-color: crimson;
}

/* line 25, ../../src/sass/main.scss */
a {
  color: crimson;
  text-decoration: none;
}

/* line 30, ../../src/sass/main.scss */
a:hover {
  color: #DC9467;
  text-decoration: none;
}

/* line 35, ../../src/sass/main.scss */
.header {
  background-color: crimson;
  color: white;
  padding: 1em 15% 0 15%;
}
/* line 39, ../../src/sass/main.scss */
.header h1 {
  font-family: Mj_liner, sans-serif;
  text-align: center;
}
/* line 43, ../../src/sass/main.scss */
.header .version {
  float: left;
}

/* line 48, ../../src/sass/main.scss */
.container {
  margin: 0 auto;
  width: 80%;
  padding: 2em;
}

/* line 55, ../../src/sass/main.scss */
.clearfix {
  clear: both;
}

/* line 59, ../../src/sass/main.scss */
.form-group {
  max-width: 200px;
}

/************************************ login *******************************/
/* line 64, ../../src/sass/main.scss */
.login-form {
  max-width: 300px;
  margin: 0 auto;
}
/* line 67, ../../src/sass/main.scss */
.login-form .form-group {
  margin: 1em auto;
}
/* line 69, ../../src/sass/main.scss */
.login-form .form-group .input-icon {
  position: relative;
}
/* line 71, ../../src/sass/main.scss */
.login-form .form-group .input-icon i {
  position: absolute;
  left: 8px;
  top: 28%;
  color: #8C8B8B;
}
/* line 79, ../../src/sass/main.scss */
.login-form button {
  float: left;
}

/************************************ create emp *******************************/
/* line 84, ../../src/sass/main.scss */
.create-emp-form {
  position: relative;
  max-width: 35.8em;
  margin: 0 auto;
}
/* line 88, ../../src/sass/main.scss */
.create-emp-form .form-group {
  margin-bottom: 2em;
  margin-left: 1.5em;
}
/* line 91, ../../src/sass/main.scss */
.create-emp-form .form-group input {
  width: 200px;
}
/* line 93, ../../src/sass/main.scss */
.create-emp-form button {
  position: absolute;
  left: 3em;
  width: 75px;
}

/************************************* list emp *******************************/
/* line 98, ../../src/sass/main.scss */
.search-form {
  margin-bottom: 2em;
}
/* line 100, ../../src/sass/main.scss */
.search-form .form-group {
  margin-right: 2em;
}
/* line 101, ../../src/sass/main.scss */
.search-form .found-count {
  opacity: 0.8;
}

/************************************* view emp ********************************/
/* line 109, ../../src/sass/main.scss */
.view-employee .emp-header {
  position: relative;
}
/* line 111, ../../src/sass/main.scss */
.view-employee .emp-header .emp-name {
  font-family: Mj_liner, sans-serif;
  margin: 0.67em 0;
}
/* line 112, ../../src/sass/main.scss */
.view-employee .emp-header .user-image {
  float: right;
}
/* line 113, ../../src/sass/main.scss */
.view-employee .emp-header .header-details {
  display: inline-block;
}
/* line 114, ../../src/sass/main.scss */
.view-employee .emp-header .dot-divider {
  font-size: 4px;
  margin: 0 0.5em 0 0.5em;
}
/* line 115, ../../src/sass/main.scss */
.view-employee .emp-header .header-other {
  font-size: 1.5em;
}
/* line 115, ../../src/sass/main.scss */
.view-employee .emp-header .header-other .avail {
  font-size: 0.75em;
  opacity: 0.8;
}
/* line 116, ../../src/sass/main.scss */
.view-employee .emp-header button {
  margin-top: 2em;
}
/* line 117, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points {
  margin-right: 2em;
  font-size: 15px;
  display: inline-block;
  font-family: Mj_liner, sans-serif;
}
/* line 121, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points i {
  color: crimson;
  margin-left: 0.2em;
}
/* line 122, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points .num {
  font-family: yekan, sans-serif;
  color: white;
}
/* line 126, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points div {
  margin-top: 1.2em;
}
/* line 128, ../../src/sass/main.scss */
.view-employee .emp-header .vertical-divider {
  height: 210px;
}
/* line 131, ../../src/sass/main.scss */
.view-employee .emp-header .admin-buttons {
  float: left;
  display: inline-block;
}
/* line 137, ../../src/sass/main.scss */
.view-employee .emp-details {
  text-align: center;
}

/************************************* divider ********************************/
/* line 145, ../../src/sass/main.scss */
.vertical-divider {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 50%;
  margin: 0 0 0 -3%;
  width: 6%;
  height: 100%;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  -webkit-tap-highlight-color: transparent;
}
/* line 163, ../../src/sass/main.scss */
.vertical-divider:before {
  position: absolute;
  left: 50%;
  content: " ";
  z-index: 3;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  width: 0;
  height: 80%;
}

/* line 174, ../../src/sass/main.scss */
.horizontal-divider {
  width: 95%;
  margin: 3rem auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  line-height: 1;
  height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/************************************* divider ********************************/
