@font-face {
  font-family: Yekan;
  src: url("../fonts/BYekan.eot");
  src: local("?"), url("../fonts/BYekan.woff") format("woff"), url("../fonts/BYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Mj_liner;
  src: url("../fonts/Mj_Liner Screen Bd.eot");
  src: local("?"), url("../fonts/Mj_Liner Screen Bd.woff") format("woff"), url("../fonts/Mj_Liner Screen Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../../src/sass/main.scss */
body {
  font-family: yekan, sans-serif;
  color: #333;
  font-size: 13px;
  margin: 0;
  background: url("../images/bg.jpg") repeat;
}

/* line 18, ../../src/sass/main.scss */
h1, h2, h3, h4 {
  font-family: Mj_liner, sans-serif;
}

/* line 21, ../../src/sass/main.scss */
::selection {
  color: white;
  background-color: crimson;
}

/* line 25, ../../src/sass/main.scss */
a {
  color: crimson;
  text-decoration: none;
}

/* line 30, ../../src/sass/main.scss */
a:hover {
  color: #DC9467;
  text-decoration: none;
}

/* line 35, ../../src/sass/main.scss */
.header {
  background-color: crimson;
  color: white;
  padding: 1em 15% 0 15%;
}
/* line 39, ../../src/sass/main.scss */
.header h1 {
  font-family: Mj_liner, sans-serif;
  text-align: center;
}
/* line 43, ../../src/sass/main.scss */
.header .version {
  float: left;
}

/* line 48, ../../src/sass/main.scss */
.container {
  margin: 0 auto;
  width: 80%;
  padding: 2em;
}

/* line 55, ../../src/sass/main.scss */
.clearfix {
  clear: both;
}

/* line 59, ../../src/sass/main.scss */
.form-group {
  max-width: 200px;
}

/************************************ navbar *******************************/
/* navbar */
/* line 65, ../../src/sass/main.scss */
.navbar-default {
  background-color: crimson;
  border-color: #ac1431;
  border: 0;
  border-radius: 0;
}

/* title */
/* line 71, ../../src/sass/main.scss */
.navbar-default .navbar-brand {
  color: white;
}

/* line 74, ../../src/sass/main.scss */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

/* link */
/* line 79, ../../src/sass/main.scss */
.navbar-default .navbar-nav > li > a {
  color: white;
}

/* line 82, ../../src/sass/main.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #f81642;
  color: #f3edff;
}

/* line 87, ../../src/sass/main.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: crimson;
}

/* line 92, ../../src/sass/main.scss */
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #f81642;
  color: black;
}

/* line 96, ../../src/sass/main.scss */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: crimson;
}

/* caret */
/* line 103, ../../src/sass/main.scss */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ac1431;
  border-bottom-color: #ac1431;
}

/************************************ login *******************************/
/* line 109, ../../src/sass/main.scss */
.login-form {
  max-width: 300px;
  margin: 0 auto;
}
/* line 112, ../../src/sass/main.scss */
.login-form .form-group {
  margin: 1em auto;
}
/* line 114, ../../src/sass/main.scss */
.login-form .form-group .input-icon {
  position: relative;
}
/* line 116, ../../src/sass/main.scss */
.login-form .form-group .input-icon i {
  position: absolute;
  left: 8px;
  top: 28%;
  color: #8C8B8B;
}
/* line 124, ../../src/sass/main.scss */
.login-form button {
  float: left;
}

/************************************ create emp *******************************/
/* line 129, ../../src/sass/main.scss */
.create-emp-form {
  position: relative;
  max-width: 35.8em;
  margin: 0 auto;
}
/* line 133, ../../src/sass/main.scss */
.create-emp-form .form-group {
  margin-bottom: 2em;
  margin-left: 1.5em;
}
/* line 136, ../../src/sass/main.scss */
.create-emp-form .form-group input {
  width: 200px;
}
/* line 138, ../../src/sass/main.scss */
.create-emp-form button {
  position: absolute;
  left: 3em;
  width: 75px;
}

/************************************* list emp *******************************/
/* line 143, ../../src/sass/main.scss */
.search-form {
  margin-bottom: 2em;
}
/* line 145, ../../src/sass/main.scss */
.search-form .form-group {
  margin-right: 2em;
}
/* line 146, ../../src/sass/main.scss */
.search-form .found-count {
  opacity: 0.8;
}

/************************************* view emp ********************************/
/* line 150, ../../src/sass/main.scss */
.view-employee .emp-header {
  position: relative;
}
/* line 152, ../../src/sass/main.scss */
.view-employee .emp-header .emp-name {
  font-family: Mj_liner, sans-serif;
  margin: 0.2em 0 0.6em;
}
/* line 153, ../../src/sass/main.scss */
.view-employee .emp-header .user-image {
  float: right;
}
/* line 154, ../../src/sass/main.scss */
.view-employee .emp-header .header-details {
  display: inline-block;
  margin-right: 1em;
}
/* line 155, ../../src/sass/main.scss */
.view-employee .emp-header .dot-divider {
  font-size: 4px;
  margin: 0 0.5em 0 0.5em;
}
/* line 156, ../../src/sass/main.scss */
.view-employee .emp-header .header-other {
  font-size: 1.5em;
}
/* line 158, ../../src/sass/main.scss */
.view-employee .emp-header .header-other .avail {
  font-size: 0.75em;
  opacity: 0.8;
}
/* line 159, ../../src/sass/main.scss */
.view-employee .emp-header .header-other .date {
  font-size: 13px;
  font-family: yekan, sans-serif;
  color: #848484;
}
/* line 165, ../../src/sass/main.scss */
.view-employee .emp-header button {
  margin-top: 2em;
}
/* line 166, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points {
  margin-right: 2em;
  font-size: 15px;
  display: inline-block;
  font-family: Mj_liner, sans-serif;
}
/* line 170, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points i {
  color: crimson;
  margin-left: 0.2em;
}
/* line 171, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points .num {
  font-family: yekan, sans-serif;
  color: white;
}
/* line 175, ../../src/sass/main.scss */
.view-employee .emp-header .emp-points div {
  margin-top: 1.2em;
}
/* line 177, ../../src/sass/main.scss */
.view-employee .emp-header .vertical-divider {
  height: 210px;
}
/* line 180, ../../src/sass/main.scss */
.view-employee .emp-header .admin-buttons {
  float: left;
  display: inline-block;
}
/* line 185, ../../src/sass/main.scss */
.view-employee .emp-header .add-point {
  float: right;
  margin: 1em auto;
  text-align: center;
}
/* line 189, ../../src/sass/main.scss */
.view-employee .emp-header .add-point .point {
  font-size: 2em;
}
/* line 190, ../../src/sass/main.scss */
.view-employee .emp-header .add-point .up-point {
  cursor: pointer;
}
/* line 190, ../../src/sass/main.scss */
.view-employee .emp-header .add-point .up-point:hover {
  color: darkgreen;
}
/* line 191, ../../src/sass/main.scss */
.view-employee .emp-header .add-point .down-point {
  cursor: pointer;
}
/* line 191, ../../src/sass/main.scss */
.view-employee .emp-header .add-point .down-point:hover {
  color: darkred;
}
/* line 194, ../../src/sass/main.scss */
.view-employee .emp-details {
  text-indent: 1em;
  text-align: right;
}

/************************************* divider ********************************/
/* line 203, ../../src/sass/main.scss */
.vertical-divider {
  position: absolute;
  z-index: 2;
  top: 12%;
  left: 50%;
  margin: 0 0 0 -3%;
  width: 6%;
  height: 100%;
  line-height: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: .875rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  -webkit-tap-highlight-color: transparent;
}
/* line 221, ../../src/sass/main.scss */
.vertical-divider:before {
  position: absolute;
  left: 50%;
  content: " ";
  z-index: 3;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  width: 0;
  height: 80%;
}

/* line 232, ../../src/sass/main.scss */
.horizontal-divider {
  width: 95%;
  margin: 3rem auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  line-height: 1;
  height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/************************************* divider ********************************/
/* line 252, ../../src/sass/main.scss */
.rf-tag {
  padding: 4px;
  color: white;
  background-color: #980726;
  margin: 0.2em;
  opacity: 0.7;
  border-radius: 0.2em;
}
/* line 257, ../../src/sass/main.scss */
.rf-tag:hover {
  background-color: crimson;
}

/* line 263, ../../src/sass/main.scss */
.rf-table td {
  text-align: center;
}
