<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ساخت کارمند جدید</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/toastmessage/jquery.toastmessage.css">
    <link rel="stylesheet" type="text/css" href="../gkms/css/style.css">

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/toastmessage/jquery.toastmessage.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
</head>
<body>
<div class="container">
    <form class="create-question-form" method="post">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="عنوان"/>
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="متن سوال"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">ثبت</button>
    </form>

</div>
</body>
</html>