<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ورود به سایت</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/toastmessage/jquery.toastmessage.css">
    <link rel="stylesheet" type="text/css" href="../gkms/css/style.css">

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/toastmessage/jquery.toastmessage.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
</head>
<body>
<div class="header">
    <h3>سامانه مدیریت دانش</h3>

    <h1>مشاورین برتر</h1>
    <span class="version">نسخه آزمایشی</span>

    <div class="clearfix"></div>
</div>
<div class="container">
    <form class="login-form" method="post">
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control" type="text" name="username" placeholder="نام کاربری"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-key"></i>
                <input class="form-control" type="password" name="password" placeholder="رمزعبور"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">ورود</button>
    </form>

</div>
</body>
</html>