<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>مشاهده کارمند</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../lib/toastmessage/jquery.toastmessage.css">
    <link rel="stylesheet" type="text/css" href="../gkms/css/style.css">

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../lib/toastmessage/jquery.toastmessage.js"></script>
    <script src="../lib/angular/angular.min.js"></script>
</head>
<body>
<div class="container">

    <div class="view-employee">
        <div class="emp-header">
            <div class="add-point">
                <div><i class="fa fa-2x fa-arrow-circle-up up-point"></i></div>
                <div><span class="point">12</span></div>
                <div><i class="fa fa-2x fa-arrow-circle-down down-point"></i></div>
            </div>
            <div class="header-details">
                <h1 class="emp-name">
دانش شماره یک
                </h1>
                <div class="header-other">
                    عارف شفاعی بجس
                    <span class="date">
                        <i class="fa fa-circle dot-divider"></i>
                        ۱۲ شهریور ۱۳۹۴
                    </span>
                </div>
            </div>
            <div class="admin-buttons">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" >تغییر دانش</button>
                    <!--<button type="button" class="btn btn-success" >تایید دانش</button>-->
                    <button type="button" class="btn btn-success" >ایجاد نسخه جدید</button>
                    <button type="button" class="btn btn-danger" >منسوخ کردن دانش</button>
                </div>
            </div>
        </div>
        <div class="horizontal-divider"></div>
        <div class="emp-details">
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
            متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.متن دانش اینجا می‌آید.
        </div>
        <div class="tags">
            <h4>برچسب‌ها</h4>
            <div>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
            </div>
        </div>
        <div class="add-use">
            <h4>موارد استفاده</h4>
            <
            <!--TODO add usecase!! with angular-->
            <div>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
                <span class="rf-tag">یک</span><span class="rf-tag">هادی</span>
                <span class="rf-tag">یک</span><span class="rf-tag">بد</span>
            </div>

        </div>
    </div>

</div>
</body>
</html>