<div class="gkms-header">
    <h3>سامانه مدیریت دانش</h3>

    <h1>مشاورین برتر</h1>
    <span class="version">نسخه آزمایشی</span>

    <div class="clearfix"></div>
</div>
<div class="container" ng-controller="LoginController">
    <div ng-java-controller="controllers.LoginController">
        <form class="login-form" method="post">
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input id="username-inp" class="form-control" ng-model="data.username" type="text" name="username"
                           placeholder="نام کاربری"/>
                </div>
            </div>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-key"></i>
                    <input class="form-control" ng-model="data.password" type="password" name="password"
                           placeholder="رمزعبور"/>
                </div>
            </div>
            <span class="error">{{ error }}</span>
            <button type="submit" class="btn btn-primary" ng-click="submit()">ورود</button>
        </form>
    </div>
</div>
<script>
    document.getElementById("username-inp").focus();
</script>