<div class="gkms-header">
    <h3>سامانه مدیریت دانش</h3>

    <h1>مشاورین برتر</h1>
    <span class="version">نسخه آزمایشی</span>

    <div class="clearfix"></div>
</div>
<div class="container">
    <form class="login-form" method="post">
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control" type="text" name="username" placeholder="نام کاربری"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-key"></i>
                <input class="form-control" type="password" name="password" placeholder="رمزعبور"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">ورود</button>
    </form>

</div>