angular/*
!angular/*.js
!angular/*.map

angular-bootstrap/*
!angular-bootstrap/*.js

angular-bootstrap-switch/*
!angular-bootstrap-switch/dist/

angular-google-maps/*
!angular-google-maps/dist

angular-loading-bar/*
!angular-loading-bar/build

angular-moment/*
!angular-moment/*.js
!angular-moment/*.map

angular-route/*
!angular-route/*.js
!angular-route/*.map

angular-ui-calendar/*
!angular-ui-calendar/*.js
!angular-ui-calendar/src

bootstrap/*
!bootstrap/dist

bootstrap-rtl/*
!bootstrap-rtl/dist

bootstrap-switch/*
!bootstrap-switch/dist

fontawesome/*
!fontawesome/css
!fontawesome/fonts

fullcalendar/*
!fullcalendar/dist
fullcalendar/dist/lang/*
!fullcalendar/dist/lang/fa.js

highcharts/*
!highcharts/highcharts.js

jquery/*
!jquery/dist

jquery-ui/*
!jquery-ui/jquery-ui.js
!jquery-ui/jquery-ui.min.js
!jquery-ui/*/
jquery-ui/ui/*
jquery-ui/themes/*/
!jquery-ui/themes/base
jquery-ui/themes/base/*
!jquery-ui/themes/base/*/
!jquery-ui/themes/base/jquery-ui.min.css

momentjs/*
moment/*
!moment/min
!moment/locale/
moment/locale/*
!moment/locale/en.js
!moment/locale/fa.js

ngstorage/*
!ngstorage/*.js

persian-date/*
!persian-date/dist

persian-datepicker/*
!persian-datepicker/dist
!persian-datepicker/.gitignore

#!*/
