<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            دانش نهفته بدست آمده از نامه ها
        </div>
        <div class="panel-body">
            <form method="post" class="form-inline search-form" role="search">
                <div class="form-group">
                    <input class="form-control" name="content" placeholder="جستجو...">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">جستجو</button>
                </div>
            </form>
            <table class="table-responsive table table-hover">
                <thead>
                <tr>
                    <td>
                        زمان
                    </td>
                    <td>
                        عنوان
                    </td>
                    <td>
                        عملیات
                    </td>
                    <td>
مشاهده
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        ۱۲ اردیبهشت ۱۳۹۴ ۱۲:۳۰
                    </td>
                    <td>
                        نامه شماره یک
                    </td>
                    <td>
                        آقای شفاعی مهر زد.
                    </td>
                    <td>
                        <a href="#">مشاهده</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        ۲ اردیبهشت ۱۳۹۴ ۱۲:۳۰
                    </td>
                    <td>
                        نامه بسیار مهم
                    </td>
                    <td>
                        به پیوست نامه شماره ۱۲۳۱ قرار گرفت.
                    </td>
                    <td>
                        -
                    </td>
                </tr>
                <tr>
                    <td>
                        ۱۵ فروردین ۱۳۹۴ ۰۱:۳۰
                    </td>
                    <td>
                        نامه شماره ۱۲۳۱۳
                    </td>
                    <td>
                        توسط هادی‌لو امضا شد.
                    </td>
                    <td>
                        <a href="#">مشاهده</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>