<div class="container" ng-controller="ProjectListCtrl">
    <div ng-java-controller="controllers.ProjectListController">
        <div class="panel panel-primary">
        <div class="panel-heading">
            دانش نهفته بدست آمده از زیرسامانه مدیریت پروژه
        </div>
        <div class="panel-body">
            <form method="post" class="form-inline search-form" role="search">
                <div class="form-group">
                    <input ng-model="data.title" class="form-control" name="content" placeholder="جستجو...">
                </div>
                <div class="form-group">
                    <button ng-click="search()" type="submit" class="btn btn-primary">جستجو</button>
                </div>
            </form>
            <table class="table-responsive table table-hover">
                <thead>
                <tr>
                    <td>
                        تاریخ ایجاد
                    </td>
                    <td>
                        نام پروژه
                    </td>
                    <td>
توضیحات
                    </td>
                    <td>
                        مشاهده فعالیت‌ها
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="project in projects track by project.id">
                    <td>
                        ۲ شهریور ۱۳۹۴
                    </td>
                    <td>
                        {{ project.title }}
                    </td>
                    <td>
                        {{ project.description }}
                    </td>
                    <td>
                        <a href="#">
                            مشاهده
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    </div>
</div>