<div class="container">
    <div class="cards row">
        <div class="col-md-2 col-sm-2 col-xs-1"></div>
        <div class="col-md-3 col-sm-3 col-xs-4 admin-card">
            <div class="thumbnail thumbnail-knowledge">
                <h3>23</h3>
                <p class="header">دانش</p>
                <i class="fa fa-folder-open-o"> </i>
                <div class="filters">
                    <form method="post">
                        <div class="form-group">
                            <select class="form-control">
                                <option>تایید نشده</option>
                                <option>تایید شده</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-md-3 col-sm-3 col-xs-4 admin-card">
            <div class="thumbnail thumbnail-report">
                <h3>12</h3>
                <p class="header">گزارش تخلف</p>
                <i class="fa fa-exclamation"> </i>
                <div class="filters">
                    <form method="post">
                        <div class="form-group">
                            <select class="form-control">
                                <option>تایید نشده</option>
                                <option>تایید شده</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-1"></div>

    </div>
    <div class="latest-report">
        <div class="panel panel-primary">
            <div class="panel-heading">
                فعالیت های اخیر
            </div>
            <div class="panel-body">
            <table class="table-responsive table table-hover">
                <thead>
                <tr>
                    <td>کارمند</td>
                    <td>تاریخ</td>
                    <td>ساعت</td>
                    <td>عنوان</td>
                    <td>مشاهده</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="#">
                            هادی ذوالفقاری
                        </a>
                    </td>
                    <td>۱۲ اردیبهشت ۱۳۹۴</td>
                    <td>۱۵:۳۰</td>
                    <td>
                        افزودن سوال
                    </td>
                    <td>
                        <a href="#">مشاهده</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            محمد طاهری
                        </a>
                    </td>
                    <td>۱۲ اردیبهشت ۱۳۹۴</td>
                    <td>۱۵:۳۰</td>
                    <td>
                        افزودن دانش
                    </td>
                    <td>
                        <a href="#">مشاهده</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            عارف شفاعی
                        </a>
                    </td>
                    <td>۱۲ اردیبهشت ۱۳۹۴</td>
                    <td>۱۴:۳۰</td>
                    <td>
                        منسوخ کردن دانش
                    </td>
                    <td>
                        <a href="#">مشاهده</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            محمد طاهری
                        </a>
                    </td>
                    <td>۱۲ اردیبهشت ۱۳۹۴</td>
                    <td>۱۳:۳۰</td>
                    <td>
                        ایجاد نسخه جدید از دانش
                    </td>
                    <td>
                        <a href="#">مشاهده</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">
                            وحید معصومی
                        </a>
                    </td>
                    <td>۱۰ اردیبهشت ۱۳۹۴</td>
                    <td>۱۰:۳۰</td>
                    <td>
                        پاسخ به سوال
                    </td>
                    <td>
                        <a href="#">مشاهده</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a href="#">مشاهده گزارش کامل</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>