<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap-rtl/dist/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="lib/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/toastmessage/jquery.toastmessage.css">
    <link rel="stylesheet" type="text/css" href="lib/ng-tags-input/ng-tags-input.css">
    <link rel="stylesheet" type="text/css" href="lib/ng-tags-input/ng-tags-input.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="lib/angular-chart.js/dist/angular-chart.css">
    <link rel="stylesheet" type="text/css" href="gkms/css/style.css">


    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/toastmessage/jquery.toastmessage.js"></script>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/firebug-lite/build/firebug-lite.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/Sortable/Sortable.js"></script>
    <script src="lib/Sortable/ng-sortable.js"></script>
    <script src="lib/textAngular/dist/textAngular-rangy.min.js"></script>
    <script src="lib/textAngular/dist/textAngular-sanitize.min.js"></script>
    <script src="lib/textAngular/dist/textAngular.min.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/ng-tags-input/ng-tags-input.js"></script>
    <script src="lib/Chart.js/Chart.min.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="lib/momentjs/moment.js"></script>
    <script src="lib/moment-jalaali/build/moment-jalaali.js"></script>
    <script src="lib/ng-java/ng-java.js"></script>

    <script>
        moment.loadPersian();
    </script>
    <script src="gkms/js/script.js"></script>

</head>
<body ng-app="kms" ng-controller="MainController" ng-init="redirect('/')">

<div class="content-container" ng-view>
</div>
<button class="btn-back btn-lg btn btn-primary" style="position: fixed;left: 0;bottom:0;border-radius: 0">
بازگشت
    <span class="fa fa-step-backward"></span>
</button>
</body>
<!-- Confirm Dialog -->
<script type="text/ng-template" id="confirmDialog.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><span
                aria-hidden="true">&times;</span><span class="sr-only">بستن</span></button>
        <h4 class="modal-title">
            {{ title }}
        </h4>
    </div>
    <div class="modal-body">
        {{ message }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-yes" ng-click="accept()">بله</button>
        <button type="button" class="btn btn-danger" ng-click="reject()">خیر</button>
    </div>
</script>
</html>